@{
    ViewData["Title"] = "Home Page";
}


<br>
<br>
  <div class="row">
    <div class="col s12 m4">
      <div class="card">
        <div class="card-image center red">
          <i class="material-icons large white-text">star_rate</i>
          
          <a class="btn-floating halfway-fab waves-effect waves-light red" asp-controller="Especialidad" asp-action="Create"><i class="material-icons">add</i></a>
        </div>
        <div class="card-content">
            <span class="card-title">Especialidades:</span>
          <p>Aqui podras dar de alta nuevas especialidades, modificarlas y borrarlas. A la espera de ser asignadas a un medico.</p>
        </div>
        <div class="card-action blue">
            <a asp-controller="Especialidad" asp-action="Index">Ver más</a>
        </div>
      </div>
    </div>
    <div class="col s12 m4">
      <div class="card">
        <div class="card-image center green darken-1">
          <i class="material-icons large white-text">bolt</i>
          
          <a class="btn-floating halfway-fab waves-effect waves-light red" asp-controller="Medico" asp-action="Create"><i class="material-icons">add</i></a>
        </div>
        <div class="card-content">
            <span class="card-title">Medicos:</span>
          <p>Aqui podras dar de alta nuevos Medicos, modificar sus datos y relaciononarlos con su Especialidad</p>
        </div>
        <div class="card-action blue">
            <a asp-controller="Medico" asp-action="Index">Ver más</a>
        </div>
      </div>
    </div>
    <div class="col s12 m4">
      <div class="card">
        <div class="card-image center cyan darken-1">
          <i class="material-icons large white-text">person</i>
          
          <a class="btn-floating halfway-fab waves-effect waves-light red" asp-controller="Paciente" asp-action="Create"><i class="material-icons">add</i></a>
        </div>
        <div class="card-content">
            <span class="card-title">Pacientes:</span>
          <p>Aqui podras dar de alta nuevos Pacientes, modificar sus datos o borrarlos de la base de datos</p>
        </div>
        <div class="card-action blue">
            <a asp-controller="Paciente" asp-action="Index">Ver más</a>
        </div>
      </div>
    </div>
    <div class="col s12 m4">
      <div class="card">
        <div class="card-image center brown darken-1">
          <i class="material-icons large white-text">schedule</i>
          
          <a class="btn-floating halfway-fab waves-effect waves-light red" asp-controller="Turno" asp-action="Create"><i class="material-icons">add</i></a>
        </div>
        <div class="card-content">
            <span class="card-title">Turnos:</span>
          <p>Aqui podras dar de alta nuevos Turnos para un paciente asignandole un medico en particular.</p>
        </div>
        <div class="card-action blue">
            <a asp-controller="Turno" asp-action="Index">ASIGNAR TURNO</a>
        </div>
      </div>
    </div>
  </div>
           